#DIV_20 {
    color: rgb(109, 109, 109);
    margin: auto;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 649.5px 1627.42px;
    transform-origin: 649.5px 1627.42px;
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_20*/

#DIV_1 {
    background-position: 0px 0px;
    clear: both;
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 649.5px 135px;
    transform-origin: 649.5px 135px;
    caret-color: rgb(109, 109, 109);
    background: rgba(0, 0, 0, 0) url("http://www.trademarkeagle.co.uk/themes/tradeMarkEagle/images/bg_bluestrip_old_site.png") repeat-x scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 480px 135px;
    transform-origin: 480px 135px;
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    margin: 0px 169.5px;
    outline: rgb(109, 109, 109) none 0px;
    overflow: hidden;
}/*#DIV_2*/

#DIV_2:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_2:before*/


#FORM_13 {
    bottom: 115px;
    color: rgb(109, 109, 109);
    height: 120px;
    left: 0px;
    max-width: 960px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    top: -115px;
    width: 960px;
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 480px 60px;
    transform-origin: 480px 60px;
    caret-color: rgb(109, 109, 109);
    background: rgb(178, 178, 176) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(109, 109, 109);
    border-radius: 10px 10px 10px 10px;
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    margin: 0px 169.5px;
    outline: rgb(109, 109, 109) none 0px;
}/*#FORM_13*/

#FORM_13:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#FORM_13:after*/

#FORM_13:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#FORM_13:before*/

#DIV_20 {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 649.5px 1627.42px;
    transform-origin: 649.5px 1627.42px;
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_20*/

#DIV_1 {
    background-position: 0px 0px;
    clear: both;
    color: rgb(109, 109, 109);
    height: 270px;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    width: 1299px;
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 649.5px 135px;
    transform-origin: 649.5px 135px;
    caret-color: rgb(109, 109, 109);
    background: rgba(0, 0, 0, 0) url("http://www.trademarkeagle.co.uk/themes/tradeMarkEagle/images/bg_bluestrip_old_site.png") repeat-x scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    color: rgb(109, 109, 109);
    height: 270px;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    width: 960px;
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 480px 135px;
    transform-origin: 480px 135px;
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    margin: 0px 169.5px;
    outline: rgb(109, 109, 109) none 0px;
    overflow: hidden;
}/*#DIV_2*/

#DIV_2:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    bottom: 0px;
    color: rgb(109, 109, 109);
    height: 270px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    top: 0px;
    width: 99999px;
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 49999.5px 135px;
    transform-origin: 49999.5px 135px;
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    margin: 0px -99039px 0px 0px;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_3*/

#DIV_3:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_3:before*/

#DIV_4, #DIV_6, #DIV_8, #DIV_10 {
    background-position: 0px 0px;
    color: rgb(255, 255, 255);
    float: left;
    height: 200px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 960px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 480px 135px;
    transform-origin: 480px 135px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("http://www.trademarkeagle.co.uk/themes/tradeMarkEagle/images/bg_inner_live_site.png") no-repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 30px / 19.2px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 70px 0px 0px;
}/*#DIV_4, #DIV_6, #DIV_8, #DIV_10*/

#DIV_4:after, #DIV_6:after, #DIV_8:after, #DIV_10:after {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 30px / 19.2px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_4:after, #DIV_6:after, #DIV_8:after, #DIV_10:after*/

#DIV_4:before, #DIV_6:before, #DIV_8:before, #DIV_10:before {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 30px / 19.2px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_4:before, #DIV_6:before, #DIV_8:before, #DIV_10:before*/

#P_5, #P_7, #P_11 {
    color: rgb(255, 255, 255);
    height: 19px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 960px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 480px 9.5px;
    transform-origin: 480px 9.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 30px / 19.2px Roboto, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 30px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_5, #P_7, #P_11*/

#P_5:after, #P_7:after, #P_11:after {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 30px / 19.2px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_5:after, #P_7:after, #P_11:after*/

#P_5:before, #P_7:before, #P_11:before {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 30px / 19.2px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_5:before, #P_7:before, #P_11:before*/

#P_9 {
    color: rgb(255, 255, 255);
    height: 19px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 960px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 480px 9.5px;
    transform-origin: 480px 9.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 30px / 19.2px Roboto, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 30px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_9*/

#P_9:after {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 30px / 19.2px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_9:after*/

#P_9:before {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 30px / 19.2px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_9:before*/

#SCRIPT_12 {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#SCRIPT_12*/

#SCRIPT_12:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#SCRIPT_12:after*/

#SCRIPT_12:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#SCRIPT_12:before*/

#FORM_13 {
    bottom: 115px;
    color: rgb(109, 109, 109);
    height: 120px;
    left: 0px;
    max-width: 960px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    top: -115px;
    width: 960px;
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 480px 60px;
    transform-origin: 480px 60px;
    caret-color: rgb(109, 109, 109);
    background: rgb(178, 178, 176) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(109, 109, 109);
    border-radius: 10px 10px 10px 10px;
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    margin: 0px 169.5px;
    outline: rgb(109, 109, 109) none 0px;
}/*#FORM_13*/

#FORM_13:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#FORM_13:after*/

#FORM_13:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#FORM_13:before*/

#LABEL_14 {
    clear: left;
    color: rgb(109, 109, 109);
    display: block;
    float: left;
    height: 43px;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    width: 110.531px;
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 55.2656px 36.5px;
    transform-origin: 55.2656px 36.5px;
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 15px / 19.2px Roboto, sans-serif;
    margin: 0px 0px 0px 30px;
    outline: rgb(109, 109, 109) none 0px;
    padding: 30px 0px 0px;
}/*#LABEL_14*/

#LABEL_14:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 15px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#LABEL_14:after*/

#LABEL_14:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 15px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#LABEL_14:before*/

#BR_15 {
    color: rgb(109, 109, 109);
    cursor: default;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 15px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#BR_15*/

#INPUT_17 {
    background-position: 13px 7px;
    box-sizing: content-box;
    color: rgb(84, 84, 84);
    display: block;
    float: left;
    height: 42.5px;
    text-decoration: none solid rgb(84, 84, 84);
    width: 350px;
    column-rule-color: rgb(84, 84, 84);
    perspective-origin: 208.75px 26.25px;
    transform-origin: 208.75px 26.25px;
    caret-color: rgb(84, 84, 84);
    background: rgb(255, 255, 255) url("http://www.trademarkeagle.co.uk/themes/tradeMarkEagle/images/magnify_icon.png") no-repeat scroll 13px 7px / auto padding-box border-box;
    border: 0px none rgb(84, 84, 84);
    border-radius: 10px 0 0 10px;
    font: normal normal 300 normal 25px / normal Roboto, sans-serif;
    margin: 30px 0px 0px 50px;
    outline: rgb(84, 84, 84) none 0px;
    padding: 5px 5px 5px 62.5px;
}/*#INPUT_17*/

#INPUT_17:after {
    color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 300 normal 25px / normal Roboto, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#INPUT_17:after*/

#INPUT_17:before {
    color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 300 normal 25px / normal Roboto, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#INPUT_17:before*/



#INPUT_18:after {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: pre;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 16px / normal Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#INPUT_18:after*/

#INPUT_18:before {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: pre;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 16px / normal Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#INPUT_18:before*/

#IMG_19 {
    bottom: 0px;
    color: rgb(109, 109, 109);
    display: block;
    height: 162px;
    left: 748px;
    position: absolute;
    right: -17px;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    top: -42px;
    width: 229px;
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 114.5px 81px;
    transform-origin: 114.5px 81px;
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#IMG_19*/

#IMG_19:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#IMG_19:after*/

#IMG_19:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#IMG_19:before*/


#LABEL_14:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 15px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#LABEL_14:after*/

#LABEL_14:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 15px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#LABEL_14:before*/

#BR_15 {
    color: rgb(109, 109, 109);
    cursor: default;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 15px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#BR_15*/

#BR_15:after {
    color: rgb(109, 109, 109);
    cursor: default;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 15px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#BR_15:after*/

#BR_15:before {
    color: rgb(109, 109, 109);
    cursor: default;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 15px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#BR_15:before*/

#SPAN_16 {
    color: rgb(13, 10, 121);
    cursor: default;
    display: block;
    height: 19px;
    text-align: center;
    text-decoration: none solid rgb(13, 10, 121);
    width: 110.531px;
    column-rule-color: rgb(13, 10, 121);
    perspective-origin: 55.2656px 9.5px;
    transform-origin: 55.2656px 9.5px;
    caret-color: rgb(13, 10, 121);
    border: 0px none rgb(13, 10, 121);
    font: normal normal 300 normal 36px / 19.2px Roboto, sans-serif;
    margin: 5px 0px 0px;
    outline: rgb(13, 10, 121) none 0px;
}/*#SPAN_16*/

#SPAN_16:after {
    color: rgb(13, 10, 121);
    cursor: default;
    text-align: center;
    text-decoration: none solid rgb(13, 10, 121);
    column-rule-color: rgb(13, 10, 121);
    caret-color: rgb(13, 10, 121);
    border: 0px none rgb(13, 10, 121);
    font: normal normal 300 normal 36px / 19.2px Roboto, sans-serif;
    outline: rgb(13, 10, 121) none 0px;
}/*#SPAN_16:after*/

#SPAN_16:before {
    color: rgb(13, 10, 121);
    cursor: default;
    text-align: center;
    text-decoration: none solid rgb(13, 10, 121);
    column-rule-color: rgb(13, 10, 121);
    caret-color: rgb(13, 10, 121);
    border: 0px none rgb(13, 10, 121);
    font: normal normal 300 normal 36px / 19.2px Roboto, sans-serif;
    outline: rgb(13, 10, 121) none 0px;
}/*#SPAN_16:before*/

#INPUT_17 {
    background-position: 13px 7px;
    box-sizing: content-box;
    color: rgb(84, 84, 84);
    display: block;
    float: left;
    height: 42.5px;
    text-decoration: none solid rgb(84, 84, 84);
    width: 350px;
    column-rule-color: rgb(84, 84, 84);
    perspective-origin: 208.75px 26.25px;
    transform-origin: 208.75px 26.25px;
    caret-color: rgb(84, 84, 84);
    background: rgb(255, 255, 255) url("http://www.trademarkeagle.co.uk/themes/tradeMarkEagle/images/magnify_icon.png") no-repeat scroll 13px 7px / auto padding-box border-box;
    border: 0px none rgb(84, 84, 84);
    border-radius: 10px 0 0 10px;
    font: normal normal 300 normal 25px / normal Roboto, sans-serif;
    margin: 30px 0px 0px 50px;
    outline: rgb(84, 84, 84) none 0px;
    padding: 5px 5px 5px 62.5px;
}/*#INPUT_17*/

#INPUT_17:after {
    color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 300 normal 25px / normal Roboto, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#INPUT_17:after*/

#INPUT_17:before {
    color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    border: 0px none rgb(84, 84, 84);
    font: normal normal 300 normal 25px / normal Roboto, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#INPUT_17:before*/

#INPUT_18 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: left;
    height: 53px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: pre;
    width: 97px;
    column-rule-color: rgb(255, 255, 255);
    align-items: flex-start;
    perspective-origin: 48.5px 26.5px;
    transform-origin: 48.5px 26.5px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    background: rgb(13, 9, 120) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 0 10px 10px 0;
    font: normal normal 300 normal 16px / normal Roboto, sans-serif;
    margin: 30.4px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 1px 6px;
}/*#INPUT_18*/

#INPUT_18:after {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: pre;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 16px / normal Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#INPUT_18:after*/

#INPUT_18:before {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: pre;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 16px / normal Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#INPUT_18:before*/

#IMG_19 {
    bottom: 0px;
    color: rgb(109, 109, 109);
    display: block;
    height: 162px;
    left: 748px;
    position: absolute;
    right: -17px;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    top: -42px;
    width: 229px;
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 114.5px 81px;
    transform-origin: 114.5px 81px;
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#IMG_19*/

#IMG_19:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#IMG_19:after*/

#IMG_19:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#IMG_19:before*/

#DIV_20 {
    color: rgb(109, 109, 109);
    height: 3254.84px;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    width: 1299px;
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 649.5px 1627.42px;
    transform-origin: 649.5px 1627.42px;
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_20*/

#DIV_1 {
    background-position: 0px 0px;
    clear: both;
    color: rgb(109, 109, 109);
    height: 270px;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    width: 1299px;
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 649.5px 135px;
    transform-origin: 649.5px 135px;
    caret-color: rgb(109, 109, 109);
    background: rgba(0, 0, 0, 0) url("http://www.trademarkeagle.co.uk/themes/tradeMarkEagle/images/bg_bluestrip_old_site.png") repeat-x scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    color: rgb(109, 109, 109);
    height: 270px;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    width: 960px;
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 480px 135px;
    transform-origin: 480px 135px;
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    margin: 0px 169.5px;
    outline: rgb(109, 109, 109) none 0px;
    overflow: hidden;
}/*#DIV_2*/

#DIV_2:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 400 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#DIV_2:b

#FORM_13 {
    bottom: 115px;
    color: rgb(109, 109, 109);
    height: 120px;
    left: 0px;
    max-width: 960px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    top: -115px;
    width: 960px;
    column-rule-color: rgb(109, 109, 109);
    perspective-origin: 480px 60px;
    transform-origin: 480px 60px;
    caret-color: rgb(109, 109, 109);
    background: rgb(178, 178, 176) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(109, 109, 109);
    border-radius: 10px 10px 10px 10px;
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    margin: 0px 169.5px;
    outline: rgb(109, 109, 109) none 0px;
}/*#FORM_13*/

#FORM_13:after {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#FORM_13:after*/

#FORM_13:before {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none solid rgb(109, 109, 109);
    column-rule-color: rgb(109, 109, 109);
    caret-color: rgb(109, 109, 109);
    border: 0px none rgb(109, 109, 109);
    font: normal normal 300 normal 12px / 19.2px Roboto, sans-serif;
    outline: rgb(109, 109, 109) none 0px;
}/*#FORM_13:before*/



/* div center left right */
#container {
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content:space-around; /* switched from default (flex-start, see below) */
    background-color: lightyellow;
  }
  #container > div {
    width: 340px;
    height: 190px;
    border: 2px;
    border-radius: 5px;
  }
.btn1{
    margin-top: 20px;
}
  #container > div > h4{
      padding-top: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 40px;
  }

























  /* css sign up */



  #DIV_11 {
    bottom: 0px;
    color: rgb(255, 255, 255);
    float: left;
    height: 30px;
    left: 0px;
    position: relative;
    width: 400px;
    margin-top: 20px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 232.5px 45px;
    transform-origin: 232.5px 45px;
    caret-color: rgb(255, 255, 255);
    background: rgb(13, 9, 120) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    font: normal normal 400 normal 30px / 30px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 40px;
    margin-left: 30px;
}/*#DIV_1*/

#DIV_1:after {
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 30px / 30px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 30px / 30px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_1:before*/







/* login user */


.userdiv{
    width: 331px;
    height: 50px;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background: #0835a9;
    margin-left: 1px;
    
}

.divreg{
    margin: auto;
    height: 100%;
    width:100%;
}

/* input[type=text], input[type=password] {
    width: 100%;;
    padding: 10px 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  } */
  
  .loginbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 41%;
  }
  .remeber{
      
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  
  
  
  
 
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
   
  }

  .divreg{
    
    background: #f7f7f7;
    
  

  }



.col1{
margin-left: 31px;
box-shadow: 0px 2px 25px white;
background: white;


}
.col2{
    margin-left: 100px;
    box-shadow: 0px 2px 25px white;
    background: white;
    height: 300px;
}



@media screen and (max-width: 800px) {
    .c2{
        margin-left:-40px; 
    } 
    .divreg{
        width:1000px;
    }
    }
  





    .list-group{
        max-height: 300px;
        margin-bottom: 10px;
        overflow:scroll;
        -webkit-overflow-scrolling: touch;
    }






    








/* sign up */









/* end sign */






  