/* svg file */


.container {
  

}
.content{
    margin-top: 50px;
}

svg {
    width: 200px;
    display: block;
    margin: 40px auto 0;
  }
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
  .path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
  }
  .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
  }
  .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
  }
  p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
  }
  p.success {
    color: #73AF55;
  }
  p.error {
    color: #D06079;
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  

/*  */










/* warning icon */

#DIV_1 {
  bottom: 0px;
  color: rgb(109, 109, 109);
  height:85px;
  left: 0px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(109, 109, 109);
  top: 0px;
  width: 80px;
  column-rule-color: rgb(109, 109, 109);
  perspective-origin: 44px 44px;
  transform-origin: 44px 44px;
  caret-color: rgb(109, 109, 109);
  animation: pulseWarning 0.75s ease 0s infinite alternate none running;
  border: 4px solid rgb(248, 187, 134);
  border-radius: 50% 50% 50% 50%;
  font: normal normal 400 normal 12px / 19.2px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20px 195px;
  outline: rgb(109, 109, 109) none 0px;
}/*#DIV_1*/

#DIV_1:after {
  color: rgb(109, 109, 109);
  text-align: center;
  text-decoration: none solid rgb(109, 109, 109);
  column-rule-color: rgb(109, 109, 109);
  caret-color: rgb(109, 109, 109);
  border: 0px none rgb(109, 109, 109);
  font: normal normal 400 normal 12px / 19.2px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: rgb(109, 109, 109) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
  color: rgb(109, 109, 109);
  text-align: center;
  text-decoration: none solid rgb(109, 109, 109);
  column-rule-color: rgb(109, 109, 109);
  caret-color: rgb(109, 109, 109);
  border: 0px none rgb(109, 109, 109);
  font: normal normal 400 normal 12px / 19.2px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: rgb(109, 109, 109) none 0px;
}/*#DIV_1:before*/

#SPAN_2 {
  bottom: 23px;
  color: rgb(109, 109, 109);
  display: block;
  height: 47px;
  left: 35px;
  position: absolute;
  right: 37px;
  text-align: center;
  text-decoration: none solid rgb(109, 109, 109);
  top: 10px;
  width: 5px;
  column-rule-color: rgb(109, 109, 109);
  perspective-origin: 2.5px 23.5px;
  transform-origin: 2.5px 23.5px;
  caret-color: rgb(109, 109, 109);
  animation: pulseWarningIns 0.75s ease 0s infinite alternate none running;
  background: rgb(248, 187, 134) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(109, 109, 109);
  border-radius: 2px 2px 2px 2px;
  font: normal normal 400 normal 12px / 19.2px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px 0px 0px -2px;
  outline: rgb(109, 109, 109) none 0px;
}/*#SPAN_2*/

#SPAN_2:after {
  color: rgb(109, 109, 109);
  text-align: center;
  text-decoration: none solid rgb(109, 109, 109);
  column-rule-color: rgb(109, 109, 109);
  caret-color: rgb(109, 109, 109);
  border: 0px none rgb(109, 109, 109);
  font: normal normal 400 normal 12px / 19.2px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: rgb(109, 109, 109) none 0px;
}/*#SPAN_2:after*/

#SPAN_2:before {
  color: rgb(109, 109, 109);
  text-align: center;
  text-decoration: none solid rgb(109, 109, 109);
  column-rule-color: rgb(109, 109, 109);
  caret-color: rgb(109, 109, 109);
  border: 0px none rgb(109, 109, 109);
  font: normal normal 400 normal 12px / 19.2px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: rgb(109, 109, 109) none 0px;
}/*#SPAN_2:before*/

#SPAN_3 {
  bottom: 10px;
  color: rgb(109, 109, 109);
  display: block;
  height: 7px;
  left: 35px;
  position: absolute;
  right: 36px;
  text-align: center;
  text-decoration: none solid rgb(109, 109, 109);
  top: 63px;
  width: 7px;
  column-rule-color: rgb(109, 109, 109);
  perspective-origin: 3.5px 3.5px;
  transform-origin: 3.5px 3.5px;
  caret-color: rgb(109, 109, 109);
  animation: pulseWarningIns 0.75s ease 0s infinite alternate none running;
  background: rgb(248, 187, 134) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(109, 109, 109);
  border-radius: 50% 50% 50% 50%;
  font: normal normal 400 normal 12px / 19.2px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px 0px 0px -3px;
  outline: rgb(109, 109, 109) none 0px;
}/*#SPAN_3*/

#SPAN_3:after {
  color: rgb(109, 109, 109);
  text-align: center;
  text-decoration: none solid rgb(109, 109, 109);
  column-rule-color: rgb(109, 109, 109);
  caret-color: rgb(109, 109, 109);
  border: 0px none rgb(109, 109, 109);
  font: normal normal 400 normal 12px / 19.2px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: rgb(109, 109, 109) none 0px;
}/*#SPAN_3:after*/

#SPAN_3:before {
  color: rgb(109, 109, 109);
  text-align: center;
  text-decoration: none solid rgb(109, 109, 109);
  column-rule-color: rgb(109, 109, 109);
  caret-color: rgb(109, 109, 109);
  border: 0px none rgb(109, 109, 109);
  font: normal normal 400 normal 12px / 19.2px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: rgb(109, 109, 109) none 0px;
}/*#SPAN_3:before*/


/*  */









