
<!-- <mat-toolbar-row>
  <button mat-stroked-button color="primary" style= "text-align:center;">Step 1</button>
  
  <button mat-stroked-button color="accent" style= "text-align:center;">Step 2</button>
  
  <button mat-stroked-button color="warn" style= "text-align:center;">Step 3</button>
</mat-toolbar-row> -->

<mat-tab-group>
  <mat-tab label="WORD">






      <mat-card>    
          <mat-card-title>    
             WORD ONLY
           </mat-card-title>    
          
          <mat-card-content>    
              <!-- <form>     -->
                  <table>    
                     <tr>
                       <td>
                         working
                       </td>
                     </tr>
                  </table>    
              <!-- </form>     -->
          </mat-card-content>    
        </mat-card>   















  </mat-tab>

























  <mat-tab label="LOGO">


      <mat-card>    
          <mat-card-title>    
             LOGO ONLY
          </mat-card-title>    
          
          <mat-card-content>    
              
                  <table>    
                    <tr>
                      <td>
                        working
                      </td>
                    </tr> 

                  </table>    
                 
          </mat-card-content>    
        </mat-card>   

  </mat-tab>
  <mat-tab label="BOTH"> BOTH</mat-tab>
</mat-tab-group>
