





		<!-- <div> 
				 <div class="d-inline"><img src="../../assets/images/1 (2).png"  height="100" width="100">
				  <h1>profile</h1> <br>
				  username
			   </div>
				    -->
   

					<!-- <div class="d-inline p-2 "><img src="../../assets/images/1 (2).png" ><p style="font-size: 20px;">Profile</p></div>
					
		   </div> --> 


<div>
		<div class="chip shadow p-3 mb-5 bg-white rounded" style="width:40%;" >

				<img src="../../assets/images/1 (2).png" alt="Person" width="96" height="96">
				<span style="font-size: 30px; color:#c0c0c0">MY PROFILE</span>
			
			  </div>
</div>

<div class="container">

		
	<div class="row justify-content-rounded">
		
		  
		  <hr>
		  <label for="">Name :</label>
		  <input nz-input >
		  <input nz-input >
		  <input nz-input  >
		  <input nz-input  >
		  <input nz-input  >


	</div>
</div>