<div>
		<div class="chip shadow p-3 mb-5 bg-white rounded" style="width:40%;" >

				<img src="../../assets/images/1 (2).png" alt="Person" width="96" height="96">
				<span style="font-size: 30px; color:#c0c0c0">MY PROFILE</span>
			
			  </div>
</div>

<div class="container">

		
	<div class="row justify-content-rounded">
		
		  
		  <hr>
		  <label for="">Name :</label>
		  <input nz-input >
		  <input nz-input >
		  <input nz-input  >
		  <input nz-input  >
		  <input nz-input  >


	</div>
</div>