<div class="div1">
  <nz-table>
    <thead>
      <tr>
        <th>Trademark ID</th>
        <th>
          Classes

        </th>
        <th>Company</th>
        <th>Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trade of list.data"   (click)="clicks(trade.Id)">
        
        <td>{{trade.Id}}</td>

        <td></td>
        <td></td>
        <td></td>
        <td>{{trade.Status}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>


























































<!-- trademark form -->