




<div class="container">
    <div class="row justify-content-rounded">
    
    <div class='col-lg-5'>
      <h3 class="shadow-sm p-3 mb-5 bg-light rounded">Aplication Types</h3>
      <div class="mt-4">
      <label nz-checkbox class="p-2">Trademark</label> <br>
      <label nz-checkbox class="p-2"> Copyright</label> <br>
      <label nz-checkbox class="p-2">Patent</label>
    </div>
    </div>
    
    
    <div class='col-lg-5'>
        <h3 class="shadow-sm p-3 mb-5 bg-light rounded">Client</h3>
    
        <nz-select style="width: 60%; " class="pl-2" nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
            <nz-option nzLabel="" nzValue=""></nz-option><br>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option><br>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option><br>
          </nz-select> <br>
        
       
         
        
    </div>
    
    </div>
    
    
    
    </div>