

<div class="vn">

    <li class="logo">Logo</li>
    
    <li class="list">  <mat-icon  style="color: rgb(136, 152, 173);">home</mat-icon></li>
        <li class="list"> <mat-icon  style="color: rgb(136, 152, 173);">home</mat-icon></li>
        <li class="list"> <mat-icon  style="color: rgb(136, 152, 173);">home</mat-icon></li>





</div>

<nav class="navbar navbar-expand-sm bg-light ml-5">

    <!-- Links -->
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item float-right">
            <mat-icon>home</mat-icon>
    </li>
     
    </ul>
  
  </nav>


  <div class="content ml-5">
      <h2>asdasdasd</h2>
    <router-outlet name="admin"></router-outlet>


  </div>