.divs{
    background: #f7f7f7;
    top:0;
    width: 100%;
    height: auto;
}


.vn{
    position:absolute;
     background: rgb(52, 65, 83);
    
     width: 48px;
     height: 100vh;
     
}

.list{
    list-style:none;
     text-align: center; 
    border-bottom: 1px solid rgb(97, 107, 121);
    padding-top: 13px;
    
   }


   .logo{
    text-align: center; 
    background: rgb(121, 203, 16); 
    color: white; 
    height: 50px; top: 0;
     padding-top: 10px;
     list-style: none;
   }