




<div class="container">
    <div class="row justify-content-rounded">
    
    
    
    <div class='col'>
        <h5>Lawyer</h5>
    
        <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
            <nz-option nzLabel="" nzValue=""></nz-option><br>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option><br>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option><br>
          </nz-select> <br>
        
          <nz-collapse>
              <nz-collapse-panel nzHeader="Testing" >
                  <input nz-input placeholder="Client Email" style="width: 50%;">
                  <button nz-button nzType="primary" style="padding-left:10px;">Email</button>
                </nz-collapse-panel>
          </nz-collapse>
        
    </div>
    
    </div>
    
    
    
    </div>